.jumbotron {
  background-color: #E6E6FA;
}

.navbar-light .nav-item.active .nav-link {
  color: #ffffff;
}

.navbar-light .nav-item:hover .nav-link {
  color: #ffffff;
}

img {
  border-radius: 10px;
  border: 3px solid black;
}

.Horses {
  width: 130%;
  margin: 0;
}

.HelpHorse {
  width: 160%;
  margin: 0;
}

.Rescues {
  width: 140%;
  margin: 0;
}

.Volunteering {
  width: 140%;
  margin: 0;
}

.Donation {
  width: 150%;
  margin: 0;
}

.pink {
  background-color: pink;
  padding: 2%;
}

.lavender{
  background-color: #E6E6FA;
  padding: 2%;
}
