.jumbotron {
  background-color: #E6E6FA;
}

.navbar-light .nav-item.active .nav-link {
  color: #ffffff;
}

.navbar-light .nav-item:hover .nav-link {
  color: #ffffff;
}

img {
  border-radius: 10px;
  border: 3px solid black;
}

.text-indent {
  text-indent: 15px;
}

.Horses {
  width: 100%;
}

.Person {
  margin-top: 25px;
}

.White {
  margin-top: 24px;
}

.HelpHorse {
  width: 100%;
}

.Check {
  margin-top: 45px;
}

.Rescues {
  width: 100%;
}

.Volunteering {
  width: 100%;
}

.Eating {
  margin-top: 24px;
}

.Donation {
  width: 100%;
}

.Treats {
  margin-top: 100px;
}

.Cremello {
  margin-top: 93px;
}

.pink {
  background-color: pink;
  padding: 2%;
}

.lavender{
  background-color: #E6E6FA;
  padding: 2%;
}
